.Search input {
    height: 60%;
    background-color: rgb(216, 210, 210);
    border: 1px rgb(36, 35, 35) solid;
    border-radius: 8px;
    color: rgb(29, 27, 27);
    width: 24px;
    transition: cubic-bezier(1, 0, 0, 1) 0.5s;
}

.Search input:hover{    
    transform: scale(1.05);
}

.Search input::placeholder{
    color: rgb(37, 30, 30);
}

@media(max-width: 700px){
    .Search{
        display: none;
    }
}