.NavigationBar{
    width: 82%;
    height: 3rem;
    background-color: rgb(218, 210, 210);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
}
