.Input{
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Block{
    display: flex;
    flex-direction: column;
    width: 100%;
}

label{
    display: block;
}

input{
    margin: 12px;
    height: 2.5rem;
    border-radius: 8px;
    border: none;   
    padding: 4px;
    background-color: #dfbaba;
    
}